<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<!-- Stavové zprávy -->
<div class="flash-message message-success" th:text="${success}" th:if="${success}"></div>
<div class="flash-message message-error" th:text="${error}" th:if="${error}"></div>

<article>
    <div class="container my-5">
        <!-- Form Heading -->
        <div class="container py-5 text-center" style="border-radius: 15px; border-color: rgb(25, 130, 201);
    padding: 2cm; background-image: url('/images/mandatory.jpg'); background-size: cover;
    background-position: center; background-repeat: no-repeat; background-color: rgba(255, 255, 255, 0.7);">

            <h1 class="font-weight-light bg-white p-3 rounded d-inline-block">Sjednání pojištění Povinného ručení</h1><br>
            <p class="lead mb-5 bg-white p-3 rounded d-inline-block">Máte otázky? Jsme tu pro vás!
                <a class="btn btn-primary" href="/contacts">Kontakt</a>
            </p>
        </div>
        <br>
        <div id="centrovac">
            <header class="text-center mb-4">
                <h1 class="font-weight-bold">Povinné ručení přímo pro Vás!</h1>
            </header>
            <section>
                <div class="bg-secondary text-white p-4 rounded" style="border-radius: 15px;">
                    <div class="text-center mb-4">
                    </div>
                    <div class="col-md-12 mb-5">
                        <h2 class="text-center">Pojistné limity</h2>
                        <div class="text-center">
                            <br>
                            <h6><strong>Basic:</strong> Krytí škod do 3 000 000 Kč.</h6>
                            <h6><strong>PRO:</strong> Krytí škod do 6 000 000 Kč.</h6>
                        </div>

                        <h2 class="text-center mt-5">Porovnání asistenčních služeb</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover bg-white text-dark mt-3">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Služba</th>
                                    <th scope="col">Basic</th>
                                    <th scope="col">Profesional (PRO)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Pojistné plnění / událost <span class="tooltip">?</span></td>
                                    <td>do 100 000 Kč</td>
                                    <td>do 300 000 Kč</td>
                                </tr>
                                <tr>
                                    <td>Telefonické informační služby <span class="tooltip">?</span></td>
                                    <td>Ano</td>
                                    <td>Ano</td>
                                </tr>
                                <tr>
                                    <td>Technická pomoc <span class="tooltip">?</span></td>
                                    <td>Ano</td>
                                    <td>Ano</td>
                                </tr>
                                <tr>
                                    <td>Náhradní ubytování a doprava <span class="tooltip">?</span></td>
                                    <td>Ne</td>
                                    <td>Ano</td>
                                </tr>
                                <tr>
                                    <td>Návrat vozidla do ČR <span class="tooltip">?</span></td>
                                    <td>do 20 000 Kč</td>
                                    <td>Ano</td>
                                </tr>
                                <tr>
                                    <td>Náhodné poškození pneumatiky <span class="tooltip">?</span></td>
                                    <td>Ano</td>
                                    <td>Ano</td>
                                </tr>
                                <tr>
                                    <td>Vyzvednutí vozidla <span class="tooltip">?</span></td>
                                    <td>do 10 000 Kč</td>
                                    <td>Ano</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                    </div>
                </div>
            </section>
        </div>
        <br>
        <div class="text-center">
            <a class="btn btn-primary btn-sm mr-2" th:href="@{/account/login}">Již jsem klientem, chci nové pojištění</a>
            <a class="btn btn-primary btn-sm" th:href="@{/account/register}">Chci se stát klientem</a>
        </div>
    </div>
    <br>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<script th:src="@{/scripts/custom.js}"></script>
</body>

</html>